.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0.8rem 0.4rem 0.8rem;
}

.author {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0;
}

.release {
  color: #aaa;
  font-size: 1.2rem;
}
.comment-card {
  padding: 1.2rem;
  margin-bottom: 1.6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;

  position: relative;
  overflow: hidden;
}

.text {
  font-size: 1.6rem;
}
