@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #3861fb;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  background-color: #f8fafd;
  color: #000000;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  border: none;
  color: #f5f7ff;
  background-color: var(--primary-color);
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: rgb(36, 68, 212);
}
/* 
.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
} */
