.spinner {
  font-size: 6rem;
  color: var(--primary-color);
  animation: loading 1s linear infinite;
  width: 100%;
  margin-top: 2rem;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
